@import "tailwindcss";

/* 保证整个页面是严格色号的暗色背景且撑满全屏 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  background-color: #111827;
  /* 严格按照色号配置 */
  color: #E5E7EB;
  /* 文字使用 gray-200，保证可读性 */
  font-family: Inter, system-ui, sans-serif;
  /* 使用更具科技感的字体 */
}